/* Position of graph containers */
.wrapper {
  height: 1000px;
  margin: 0 auto;
  vertical-align: center;
  overflow: hidden;
  position: relative;
}

.linechart {
  width: 70%;
  height: auto;
  margin: 0 auto;
}

.piechart {
  width: 60%;
  height: auto;
  float: left;
  padding-top: 50px;
}

.barchart {
  float: left;
  width: 20%;
  top: 50%;
  margin-top: 50px;
  height: 200px;
}


#buttons {
  visibility: hidden;
}

@media screen and (max-width: 1000px) {
  .piechart, .linechart {width: 100%;}
}

#variables {
  visibility: visible;
}
